{% extends 'base.html.twig' %}

{% block title %}Projet collectif{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/index.css')}}">{% endblock %}

{% block body %}
<section class="hero">
    <div class="content">
      <h2>INFORMATION A NE PAS MANQUER ! </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum libero dignissimos eaque nemo voluptatibus? Aut ea exercitationem aliquid labore, necessitatibus illo, alias quaerat vitae earum ad distinctio voluptatem quas quasi.</p>
      </div>
    <div class="waves2"></div>
  </section>
{# <main>
    
</main> #}
{% endblock %}
