.sections{
    position: relative;
    height: 650px;
    width: 100%;
    background-image: url(../images/background_index.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
}

.bg_primary{
    background-color: #f7f7f7;
    box-shadow: rgba(0,0,0,0.2) 0px 5px 5px;
}
    .btn-success {
        color: #fff;
        background-color: #2674CF;
        border-color: #2674CF;
    }
.accueil-content{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;

}
.accueil-content .accueil-desc{
    text-indent: 5px;
}

.row{
    justify-content: center;
    margin-top: 50px;
}


.sections-body{
    
    padding-bottom: 50px;
}

.sections-body h2{
    padding-top:88px;
}
.line span{
    display: block;
    width: 100px;
    height: 4px;
    background-color: #00adb5;
    margin:auto;
    position: relative;
    bottom: 0.5px;
}
.sections-body .card-body {
	background: #fff;
    padding-top: 7em;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0,0,0,0.2);
    height:450px;
    width: 500px;
}

.sections-body .card-body .icon{
    background: #2674CF;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    color:#fff;
    border-radius: 50%;

}

.card-titre{
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
 
}
.card-desc{
     font-size: 17px;
     color: #888;
     margin-bottom: 20px;
 }

 .sections-body img{
     margin: 20px auto ;
 }

 .sections-body h3 + h6{
     padding: 10px;

 }

 .card-body{
     border: solid rgba(0,0,0,0.2) 1px;
 }