.section-title{
    display:flex;
    margin-top: 1em;

}
.section-title h1{
    box-shadow: rgba(56, 55, 55, 0.836) 0px 0px 15px;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    padding: .8rem 1rem;
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    color: #fff;


    width: max-content;
}