@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


body{
 
    font-family: 'Montserrat', sans-serif;
}
body .container .row{
    position: relative;
    top: 140px;
    align-items: center;
}

.container-image {
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
}

.container-form-log{
    /* align-items: center;
    justify-content: center; */
    background-color: #fff;
    box-shadow: rgba(77, 74, 74, 0.637) 0 0 20px;
    border-radius: 20px;

    width: 40%;
    height: 580px;
    margin: auto;

}



form{
    display: block;
    border: solid black 1px;
    padding: 50px;
    width: 100%;
}
form img{
    display: flex;
    margin: auto;
    height: 150px;
    width: 150px;
}
form h1{
    font-weight: bolder!important;
    text-align: center;
    font-size: 2.5rem;
}
label{margin:0;}
label i{
    color: grey;
}


.link-new-account a {font-size: .9em;}

.title_entreprise{
    text-align: center;
    position:relative;
    top: -50px;
}

.slogan_entreprise{
    padding: 10px;
    position: relative;
    bottom: 50px;
    text-align: center;
}

/* Media query pour mobile */
@media (max-width: 755px) {
    .container_entreprise{
        display: none;
    }
    form{
        margin-bottom: 20px;
    }
}

@media (min-width: 755px) and (max-width: 1000px) {

    form{
        margin-bottom: 20px;
    }
}