@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 100%;
}

.container-entreprise{
    position: relative;

}
.title_entreprise{
    font-size: 60px;
    text-align: center;
    position: absolute;
    top: -150px;
    left: 80px;

}

.slogan_entreprise{
    font-size: 20px;
    margin: 0;
    text-align: center;
}

/* .container_entreprise{
    position: absolute;
    top:-50px;
} */
.container_entreprise img{
    width: 100%;
    position: absolute;
    bottom: -200px;
}



.container-form-log{
    background-color: #fff;
    border-radius: 20px;

    width: 40%;
    height: 580px;
    margin: auto;

}

form{
    border: solid rgba(0, 0, 0, 0.4) 1px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 45px;

}
form img{
    display: flex;
    margin: auto;
    height: 130px;
    width: 130px;
}
form h1{
    font-weight: bolder!important;
    text-align: center;
    font-size: 2em;
}


label{
    margin-top:10px;
    font-size: 1em;
}
label i{
    color: grey;
}

button{
    font-size: 1em !important;
}
.container .row{
    position: relative;
    top: 140px;
    align-items: center;
}

.link-new-account a {font-size: .9em;}




/* Media query pour mobile */
@media (max-width: 755px) {
    .container_entreprise{
        display: none;
    }
    form{
        margin-bottom: 20px;
    }
}

@media (min-width: 755px) and (max-width: 1000px) {

    form{
        margin-bottom: 20px;
    }
    /* body .container .row{
        position: relative;
        top: 0;
        align-items: center;
    } */
    .title_entreprise{
        font-size: 60px;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
    
    }

}
/* .container_entreprise {
position: relative;
bottom: 0;
}

.title_entreprise{
    font-size: 45px
    font-weight: bolder;
    position: static

    .slogan_entreprise {
    font-size: 20px;
    margin: 20px;
    text-align: center

}*/